.container{
    margin: 24px 0;
}

.container label{
    display: block;
    font-size: 18px;
    color: #212121;
    line-height: 22px;
    padding:  8px;
    font-weight: 600;
}

.container input{
    width: 100%;
    box-sizing: border-box;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    
    padding: 30px 21px;
    
}